header{

    display: flex;
    justify-content: start;
    align-items: center;
    border: 2.5px red solid;
    background-color: white;
    .logo {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        background:$gradient
    }
        li a:hover {
            background-color: red;
            color: antiquewhite;
          }
        }